.custom-navbar {
  background-color: #000; 
  padding: 0.8rem 1rem;
}
.navbar-brand {
  font-size: 1.6rem;
  font-weight: bold;
}
.neon-link,
.neon-text {
  position: relative;
  color: #90ee90 !important; 
  text-decoration: none;
  font-size: 1.1rem;
  margin-left: 15px;
  transition: all 0.4s ease;
}
.neon-link:hover,
.neon-text:hover {
  color: #b6ffb6 !important; 
  animation: neonFlicker 1.5s infinite alternate;
  text-shadow: 0 0 5px #90ee90, 0 0 10px #90ee90, 0 0 20px #32cd32,
    0 0 40px #32cd32, 0 0 80px #32cd32;
  transform: scale(1.05);
}
@keyframes neonFlicker {
  0%,
  100% {
    text-shadow: 0 0 5px #90ee90, 0 0 10px #90ee90, 0 0 20px #32cd32,
      0 0 40px #32cd32, 0 0 80px #32cd32;
  }
  50% {
    text-shadow: 0 0 10px #90ee90, 0 0 20px #32cd32, 0 0 40px #32cd32,
      0 0 80px #32cd32, 0 0 160px #32cd32;
  }
}
.nav-link,
.navbar-brand {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
